<h1>Need Music?</h1>
<form>
  <div class="form-group">

       <input type="text" name="searchString" [(ngModel)]="searchString"
              (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">
  </div>
</form>

<div *ngIf="searchResult">
  <div *ngFor="let result of searchResult">
      <div class="row">
        <div class="col-md-12">
          <div class="search-result well">
            <h4><a routerLink="/artist/{{result.id}}">{{result.name}}</a></h4>
            <div>
                <strong>Genres :</strong>
                <div *ngFor="let genre of result.genres">{{genre}}</div>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
